* {
    box-sizing: border-box;
}

body {
    background: #dedede;
    color: #111;
}

.page-wrapper {
	text-align: center;
	width: 80%;
	margin: 0 auto;
	border: red solid 100px;
	padding: 20px;
}

.flip-clock-wrapper {
	width: 690px;
	margin: 0 auto;
}

h1, 
h2 {
	margin: 0;
}

.clock {
	margin: 40px;
}