* {
    box-sizing: border-box;
}

body {
    background: #dedede;
    color: #111;
}

.page-wrapper {
	text-align: center;
	width: 80%;
	margin: 0 auto;
	// padding: 20px;
}

.flip-clock-wrapper {
	width: 690px;
	//margin: 0 auto;

	@media all and (max-width: 600px) {
		-webkit-transform: scale(0.5);
		-ms-transform: scale(0.5);
		-o-transform: scale(0.5);
		transform: scale(0.5);
	}
}
